*
{
    box-sizing: border-box;

    padding: 0;
    margin: 0;

    text-align: center;
}

body
{
    background: rgb(128, 128, 128);
}

#contentContainer
{
    position: absolute;
    top: 20%;

    /* Todo - Do this more intuitively */
    /* Subtracts half of the canvas width away so it's centered */
    left: calc(50% - 200px);
}

#canvas
{
    /* The extra two pixels are to account for the border... 
        this is kinda a quirk of using border-box */
    width: 402px;
    height: 402px;

    border: 1px black solid;

    margin: 0 auto;
}

.gridBox
{

    float: left;
    width: 20px;
    height: 20px;

    /* Don't need to worry about this making it > 20px b/c I'm 
        using box-sizing: border-box */
    border: 1px black solid;

    
}
