*
{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

#inputField
{
    width: 400px;
    height: 100px;

    min-width: 400px;
    min-height: 100px;

    padding: 25px;
    float: left;

    border: 1px black solid;
}

#calculatorContainer
{   
    width: 402px;
    height: 600px;

    margin: auto;
    margin-top: 100px;

    overflow: auto;
}

.calculatorButton
{
    width: 100px;
    height: 100px;

    min-width: 100px;
    min-height: 100px;    

    float: left;
    
    color: white;
    font-size: 24px;
    border: 1px black solid;
}

.wideButton
{
    width: 200px;
    height: 100px;

    min-width: 200px;
    min-height: 1px;

    float: left;

    color: white;
    font-size: 24px;

    border: 1px black solid;
}

/* Literally just coloring and stuff so the webpage doesn't look (as) bad */
.numberButton 
{
    background-color: rgb(45, 152, 218);
}

.operatorButton
{
    background-color: rgb(220, 40, 40);
}

.miscButton
{
    background-color: rgb(25, 110, 210);
}
